body {
  background-color: #4e54c8;
  overflow: auto;
}
.main-box {
  position: relative;
  top: 0px;
  width: 95%;
  height: 150%;
  transform: translate(-50%, 0);
  left: 50%;
  margin-left: 48px;
  margin-top: 20px;
  overflow: auto;
}
.card-item {
  position: relative;
  width: 415px;
  height: 370px;
  /* border: 1px solid #9797bd; */
  background-color: #b3b3df;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.5);
  margin-left: 10px;
  margin-top: 10px;
  border-bottom-right-radius: 23px;
}
.question-box {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 93%;
  height: 100%;
  /* border: 1px solid #62627c; */
  border-radius: 10px;
}
.question-text {
  font-size: 15px;
  margin-top: 7px;
  text-decoration: none;
  background-color: #b3b3df;
  border: none;
  width: 100%;
  height: 20%;
  resize: none;
}
.answers-box {
  position: absolute;
  height: 195px;
  width: 93%;
  top: 98px;
  left: 10px;
}
.answer-item {
  position: relative;
  height: 24%;
  width: 100%;
  /* border: 1px solid #62627c; */
  border-radius: 5px;
  background-color: #8888ad;
  margin-bottom: 4px;
}
.answer-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 2px;
  text-decoration: none;
  background-color: #8888ad;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-left: 6px;
}
.box-questions {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.text-name-answers {
  position: absolute;
  top: 22%;
  left: 5px;
  font-size: 12px;
  color: #47475a;
}
.true-answers {
  position: relative;
  top: 82%;
  left: 10px;
  width: 350px;
  height: 66px;
  background-color: #88ad90;
  border-radius: 5px;
  /* border: 1px solid #62627c; */
}
.change-data-btn {
  position: absolute;
  top: 60px;
  left: 0px;
  /* border: 1px solid #9797bd; */
  cursor: pointer;
}
.true-answers_text {
  position: absolute;
  top: 0%;
  left: -10px;
  background-color: #88ad90;
  width: 349px;
  height: 101%;
  border-radius: 0 0 0 20px;
  overflow: hidden;
  padding-left: 5px;
  text-decoration: none;
  border: none;
}
.add-card {
  top: 120px;
  position: absolute;
  left: 0px;
  /* border: 1px solid #9797bd; */
  cursor: pointer;
}
.text-true-answer {
  top: 83%;
}
.delete-button {
  position: absolute;
  top: 82%;
  left: 350px;
  width: 65px;
  height: 67px;
  background-color: #d16161;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 20px;
}
.delete-button:hover {
  background-color: #914444;
}
.fa-solid {
  color: #000000;
}
.exit-button_box {
  position: fixed;
}